---
const { title } = Astro.props;
---

<style lang="scss">
  @use '../styles/colors.scss';

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 20px;
    margin: 0 20px;

    &__content {
      font-family: 'Oswald', sans-serif;
      font-size: 20px;
      margin: 10px 120px 50px 120px;
    }

    &__title {
      margin: 40px 0 10px 0;
      font-size: 32px;
      font-family: 'Oxygen', sans-serif;
      color: colors.$primary;
    }
  }

    @media (max-width: 800px) {
  .block {

    &__content {
      margin: 10px 30px 50px 30px;
    }
    
  }
}
</style>

<section class="block">
  <h2 class="block__title">{title}</h2>
  <div class="block__content"><slot /></div>
</section>
