---
const { title } = Astro.props;
---

<style lang="scss">
  @use '../styles/colors.scss';

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$border;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px #0000000f;

    &__title {
    font-size: 32px;
      font-family: var(--font-oxygen);
      color: colors.$primary;

    }

    &__body {
      font-family: var(--font-oswald);
      font-size: 20px;
      padding: 10px 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; 

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: colors.$primary;
      color: white;
      width: 56px;
      height: 56px;
      border-radius: 12px;

      :global(svg) {
        width: 28px;
        height: 28px;
        fill: currentColor;
      }
    }
    }
  }
</style>

<section class="card">
  <h2 class="card__title">{title}</h2>
  <div class="card__body">
    <div class="icon">
      <slot name="icon" />
    </div>
    <slot name="content" />
  </div>
</section>
